[submodule "ClideCpp"]
	path = ClideCpp
	url = https://github.com/mbedded-ninja/ClideCpp
[submodule "MStringCpp"]
	path = MStringCpp
	url = https://github.com/mbedded-ninja/MStringCpp
[submodule "MAssertCpp"]
	path = MAssertCpp
	url = https://github.com/mbedded-ninja/MAssertCpp
[submodule "OsalCpp"]
	path = OsalCpp
	url = https://github.com/mbedded-ninja/OsalCpp
