[submodule "ClideCpp"]
	path = ClideCpp
	url = https://github.com/mbedded-ninja/ClideCpp
[submodule "MStringCpp"]
	path = MStringCpp
	url = https://github.com/mbedded-ninja/MStringCpp
[submodule "MAssertCpp"]
	path = MAssertCpp
	url = https://github.com/mbedded-ninja/MAssertCpp
[submodule "OsalCpp"]
	path = OsalCpp
	url = https://github.com/mbedded-ninja/OsalCpp
[submodule "FixedPointCpp"]
	path = FixedPointCpp
	url = https://github.com/mbedded-ninja/FixedPointCpp
[submodule "MUnitTestCpp"]
	path = MUnitTestCpp
	url = https://github.com/mbedded-ninja/MUnitTestCpp
[submodule "MClide"]
	path = MClide
	url = https://github.com/mbedded-ninja/MClide
[submodule "MFixedPoint"]
	path = MFixedPoint
	url = https://github.com/mbedded-ninja/MFixedPoint
[submodule "MAssert"]
	path = MAssert
	url = https://github.com/mbedded-ninja/MAssert
[submodule "MString"]
	path = MString
	url = https://github.com/mbedded-ninja/MString
[submodule "MUnitTest"]
	path = MUnitTest
	url = https://github.com/mbedded-ninja/MUnitTest
[submodule "MOsal"]
	path = MOsal
	url = https://github.com/mbedded-ninja/MOsal
[submodule "MHal"]
	path = MHal
	url = https://github.com/mbedded-ninja/MHal
[submodule "MCallbacks"]
	path = MCallbacks
	url = https://github.com/mbedded-ninja/MCallbacks
[submodule "MFilters"]
	path = MFilters
	url = https://github.com/mbedded-ninja/MFilters
[submodule "MVector"]
	path = MVector
	url = https://github.com/mbedded-ninja/MVector
